@import "../../style/global.scss";

.hero {
  position: relative;
  // overflow: hidden;
  z-index: 1;
  .hero_upperText {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    @media screen and (max-width: $sm) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
  }
  .hero_lowerText {
    margin-top: 18rem;
    display: flex;
    justify-content: space-between;
    gap: 1.5;
    @media screen and (max-width: $sm) {
      margin-top: 22rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
    }
  }
}
.hero_email {
  position: absolute;
  top: 50%;
  a {
    color: orange;
    text-decoration: none;
  }
  @media screen and (max-width: $md) {
    display: none;
  }
}
.hero_icon_image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 3rem;
  }
}

.hero_person {
  position: absolute;
  bottom: -2rem;
  left: 0;
  right: 0;
  margin: auto;
  background-image: url("./assets/splash.png");
  background-repeat: no-repeat;
  background-size: 23rem;
  z-index: -99;

  @media (max-width: $sm) {
    margin-bottom: 170px;
  }
  img {
    margin-bottom: 1rem;
    width: 2rem;
  }
}
